# Leiningen stuff
/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

# ClojureScript
.rebel_readline_history

# Database files
*.sqlite3
*.db

# Node
.node_modules
node_modules
/node_modules
*/node_modules
/node_modules/*

# Other
*.swp
*.log
*.out
.DS_Store
Thumbs.db
*.swp
*.swo
*.lnk
*~
